<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eliteams.quick4j.web.dao.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.eliteams.quick4j.web.model.Customer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <result column="created_user" property="createdUser" jdbcType="BIGINT" />
    <result column="modified_user" property="modifiedUser" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, pwd, sex, phone, id_card, birthday, country, province, city, area, 
    address, created_time, modified_time, created_user, modified_user, remark, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from b_customer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from b_customer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.eliteams.quick4j.web.model.Customer" >
    insert into b_customer (id, user_name, pwd, 
      sex, phone, id_card, birthday, 
      country, province, city, 
      area, address, created_time, 
      modified_time, created_user, modified_user, 
      remark, state)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{sex,jdbcType=CHAR}, #{phone,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{createdUser,jdbcType=BIGINT}, #{modifiedUser,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR}, #{state,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eliteams.quick4j.web.model.Customer" >
    insert into b_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
      <if test="createdUser != null" >
        created_user,
      </if>
      <if test="modifiedUser != null" >
        modified_user,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUser != null" >
        #{createdUser,jdbcType=BIGINT},
      </if>
      <if test="modifiedUser != null" >
        #{modifiedUser,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eliteams.quick4j.web.model.Customer" >
    update b_customer
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUser != null" >
        created_user = #{createdUser,jdbcType=BIGINT},
      </if>
      <if test="modifiedUser != null" >
        modified_user = #{modifiedUser,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eliteams.quick4j.web.model.Customer" >
    update b_customer
    set user_name = #{userName,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      phone = #{phone,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      created_user = #{createdUser,jdbcType=BIGINT},
      modified_user = #{modifiedUser,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      state = #{state,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectSelective"
          resultMap="BaseResultMap"
          parameterType="com.eliteams.quick4j.web.model.Customer" >
    select
    <include refid="Base_Column_List" />
    from b_customer
    <where>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="pwd != null" >
        AND pwd = #{pwd,jdbcType=VARCHAR}
      </if>
      <if test="sex != null" >
        AND sex = #{sex,jdbcType=CHAR}
      </if>
      <if test="phone != null" >
        AND phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="idCard != null" >
        AND id_card = #{idCard,jdbcType=VARCHAR}
      </if>
      <if test="birthday != null" >
        AND birthday = #{birthday,jdbcType=DATE}
      </if>
      <if test="country != null" >
        AND country = #{country,jdbcType=VARCHAR}
      </if>
      <if test="province != null" >
        AND province = #{province,jdbcType=VARCHAR}
      </if>
      <if test="city != null" >
        AND city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="area != null" >
        AND area = #{area,jdbcType=VARCHAR}
      </if>
      <if test="address != null" >
        AND address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="createdTime != null" >
        AND created_time = #{createdTime,jdbcType=TIMESTAMP}
      </if>
      <if test="modifiedTime != null" >
        AND modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createdUser != null" >
        AND created_user = #{createdUser,jdbcType=BIGINT}
      </if>
      <if test="modifiedUser != null" >
        AND modified_user = #{modifiedUser,jdbcType=BIGINT}
      </if>
      <if test="remark != null" >
        AND remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="state != null" >
        AND state = #{state,jdbcType=CHAR}
      </if>
    </where>
      <if test="sort != null and sort != ''">
        ORDER BY ${sort} ${order}
      </if>
      limit #{start,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
  </select>

  <select id="selectCountSelective"
          resultType="java.lang.Integer"
          parameterType="com.eliteams.quick4j.web.model.Customer" >
    select
      count(*)
    from b_customer
    <where>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="pwd != null" >
        AND pwd = #{pwd,jdbcType=VARCHAR}
      </if>
      <if test="sex != null" >
        AND sex = #{sex,jdbcType=CHAR}
      </if>
      <if test="phone != null" >
        AND phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="idCard != null" >
        AND id_card = #{idCard,jdbcType=VARCHAR}
      </if>
      <if test="birthday != null" >
        AND birthday = #{birthday,jdbcType=DATE}
      </if>
      <if test="country != null" >
        AND country = #{country,jdbcType=VARCHAR}
      </if>
      <if test="province != null" >
        AND province = #{province,jdbcType=VARCHAR}
      </if>
      <if test="city != null" >
        AND city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="area != null" >
        AND area = #{area,jdbcType=VARCHAR}
      </if>
      <if test="address != null" >
        AND address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="createdTime != null" >
        AND created_time = #{createdTime,jdbcType=TIMESTAMP}
      </if>
      <if test="modifiedTime != null" >
        AND modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createdUser != null" >
        AND created_user = #{createdUser,jdbcType=BIGINT}
      </if>
      <if test="modifiedUser != null" >
        AND modified_user = #{modifiedUser,jdbcType=BIGINT}
      </if>
      <if test="remark != null" >
        AND remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="state != null" >
        AND state = #{state,jdbcType=CHAR}
      </if>
    </where>
  </select>
</mapper>